# Skills Correlations
In this Notebook we will analyse the correlations that there are between the completion rates of different skills.

In [ ]:
import utilities.data as ud
import utilities.users as uu
import pandas as pd
import matplotlib.pyplot as plt

DATA_DIR = "./data"

In [2]:
# Execute only if you want to fetch the data from the Database.
ud.fetch_data(DATA_DIR)

In [3]:
users, challenges, items, skills, tasks = ud.read_data(DATA_DIR)

# We are only interested in non-null users.
users = uu.process(uu.non_null(users))

In [4]:
# This cell can take some time to execute.
import warnings
warnings.filterwarnings('ignore')
users = uu.add_completions_per_category(users.head(), skills)
warnings.resetwarnings()

SKILLSC    1
Name: 5, dtype: object
relationshipsC    1
Name: 5, dtype: object
skillsC    1
Name: 5, dtype: object
MENTAL HEALTHC    1
Name: 5, dtype: object
masculinityC    1
Name: 5, dtype: object
disciplineC    1
Name: 5, dtype: object
SKILLSC    2
Name: 5, dtype: object
MENTAL HEALTHC    1
Name: 8, dtype: object
fitnessC    1
Name: 8, dtype: object
SKILLSC    1
Name: 8, dtype: object
DietC    1
Name: 8, dtype: object
MENTAL HEALTHC    2
Name: 8, dtype: object
skillsC    1
Name: 8, dtype: object
mindfulnessC    1
Name: 8, dtype: object
disciplineC    1
Name: 8, dtype: object
SKILLSC    2
Name: 8, dtype: object
SKILLSC    1
Name: 16, dtype: object
MENTAL HEALTHC    1
Name: 16, dtype: object
skillsC    1
Name: 16, dtype: object
fitnessC    1
Name: 16, dtype: object
MENTAL HEALTHC    2
Name: 16, dtype: object
SKILLSC    2
Name: 16, dtype: object
relationshipsC    1
Name: 16, dtype: object
SKILLSC    3
Name: 16, dtype: object
masculinityC    1
Name: 16, dtype: object
SKILLSC    4
Name: 16, dtype: object
disciplineC    1
Name: 16, dtype: object
SKILLSC    5
Name: 16, dtype: object
MENTAL HEALTHC    1
Name: 22, dtype: object
fitnessC    1
Name: 22, dtype: object
SKILLSC    1
Name: 22, dtype: object
disciplineC    1
Name: 22, dtype: object
MENTAL HEALTHC    2
Name: 22, dtype: object
routinesC    1
Name: 22, dtype: object
DietC    1
Name: 22, dtype: object
mindfulnessC    1
Name: 22, dtype: object
masculinityC    1
Name: 22, dtype: object
SKILLSC    2
Name: 22, dtype: object
mindfulnessC    2
Name: 22, dtype: object
screentimeC    1
Name: 22, dtype: object
fitnessC    2
Name: 22, dtype: object
SKILLSC    3
Name: 22, dtype: object
mindfulnessC    3
Name: 22, dtype: object
routinesC    2
Name: 22, dtype: object
hydrationC    1
Name: 22, dtype: object
screentimeC    2
Name: 22, dtype: object
routinesC    3
Name: 22, dtype: object
hydrationC    2
Name: 22, dtype: object
SKILLSC    1
Name: 23, dtype: object
disciplineC    1
Name: 23, dtype: object
skillsC    1
Name: 23, dtype: object
SKILLSC    2
Name: 23, dtype: object
SKILLSC    3
Name: 23, dtype: object
SKILLSC    4
Name: 23, dtype: object
SKILLSC    5
Name: 23, dtype: object
SKILLSC    6
Name: 23, dtype: object
SKILLSC    7
Name: 23, dtype: object
SKILLSC    8
Name: 23, dtype: object
MENTAL HEALTHC    1
Name: 23, dtype: object
MENTAL HEALTHC    2
Name: 23, dtype: object
fitnessC    1
Name: 23, dtype: object
SKILLSC    9
Name: 23, dtype: object
relationshipsC    1
Name: 23, dtype: object
DietC    1
Name: 23, dtype: object

In [5]:
users.head()
#users[[category + "C" for category in skills["category"].unique()]].corr()

,_id,xp,xpHistory,items,skillscompleted,skillsinprogress,challengescompleted,challengesinprogress,character,timezone,...,mindfulnessC,routinesC,DietC,hydrationC,attractionC,screentimeC,relationshipsC,disciplineC,masculinityC,skillsC
5,62c4f336953318ddc80d82a0,300,"[0, 300, 300, 300, 300]","[ObjectId('62c382d46cac02c487e243cb'), ObjectI...","[ObjectId('62c226cf9efefadfd10e20b2'), ObjectI...","[ObjectId('62c226d89efefadfd10e219a'), ObjectI...",[],[],male,-8.0,...,0,0,0,0,0,0,0,0,0,0
8,62c4f357953318ddc80d82c7,100,"[0, 100]","[ObjectId('62c382d46cac02c487e243cb'), ObjectI...","[ObjectId('62c226cf9efefadfd10e20ad'), ObjectI...","[ObjectId('62c226d19efefadfd10e20d9'), ObjectI...",[],[ObjectId('62c226d09efefadfd10e20bb')],male,-5.0,...,0,0,0,0,0,0,0,0,0,0
16,62c4f3fe953318ddc80d8369,860,"[0, 860]","[ObjectId('62c382d46cac02c487e243cb'), ObjectI...","[ObjectId('62c226cf9efefadfd10e20b2'), ObjectI...","[ObjectId('62c226d09efefadfd10e20b6'), ObjectI...",[ObjectId('62c226d09efefadfd10e20bb')],[],male,-5.0,...,0,0,0,0,0,0,0,0,0,0
22,62c4f691953318ddc80d84c1,6890,"[0, 1170, 1840, 2890, 2890, 3490, 4290, 4290, ...","[ObjectId('62c382d46cac02c487e243cb'), ObjectI...","[ObjectId('62c226cf9efefadfd10e20ad'), ObjectI...","[ObjectId('62c226d89efefadfd10e21a0'), ObjectI...","[ObjectId('62c226d09efefadfd10e20bb'), ObjectI...",[],male,-5.0,...,0,0,0,0,0,0,0,0,0,0
23,62c4f6a1953318ddc80d84cc,1000,"[0, 1000]","[ObjectId('62c382d46cac02c487e243cb'), ObjectI...","[ObjectId('62c226cf9efefadfd10e20b2'), ObjectI...","[ObjectId('62c226d89efefadfd10e2197'), ObjectI...","[ObjectId('62c226e09efefadfd10e2267'), ObjectI...",[],male,-4.0,...,0,0,0,0,0,0,0,0,0,0